@{

}
@model List<KhachSan.Models.Booking>
<div class="container px-3 my-5 clearfix">
    <div class="card">
        <div class="card-header">
            <h2>Lịch sử đặt phòng</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <th class="text-center py-3 px-4">Mã đơn đặt</th>
                            <th class="text-right py-3 px-4">Ngày đặt</th>
                            <th class="text-center py-3 px-4">Tổng tiền</th>
                            <th class="text-center py-3 px-4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var booking in Model)
                            {
                                <tr>
                                    <td class="text-right font-weight-semibold align-middle p-4">@booking.Id</td>
                                    <td class="text-right font-weight-semibold align-middle p-4">@booking.createdDate</td>
                                    <td class="text-right font-weight-semibold align-middle p-4">@booking.toTalPrice</td>
                                    <td class="p-4">
                                        <a asp-controller="Booking" asp-action="ViewDetail" asp-route-id="@booking.Id" class="d-block text-dark">Xem chi tiết</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>