@{

}
@model KhachSan.ViewModel.SearchRoomViewModel
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Hotel Hub<br />Lựa chọn hoàn mỹ</h1>
                    <p>Dưới đây là những phòng khách sạn hàng đầu, bao gồm các gợi ý cho du lịch quốc tế và để tìm kiếm các phòng khách sạn giá rẻ.</p>
                    <a asp-controller="Room" asp-action="Index" class="primary-btn">Khám phá ngay</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>Đặt chỗ trước</h3>
                    <form asp-controller="Room" asp-action="SearchResult" method="get">
                        <div class="check-date">
                            <label for="date-in">Check In:</label>
                            <input asp-for="DateFrom" type="text" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Check Out:</label>
                            <input asp-for="DateTo" type="text" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                        </div>
                        <div>
                            <label for="noOfPeople">Số lượng người:</label>
                            <input type="number" asp-for="NoOfPeople" required/>
                        </div>
                        <button type="submit">Kiểm tra Tình trạng Phòng</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/img/hero/hero-1.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/img/hero/hero-2.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/img/hero/hero-3.jpg"></div>
    </div>
</section>

<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2> Hotel Hub<br />Khách sạn sang trọng</h2>
                    </div>
                    <p class="f-para">Hotel Hub là một trang web đặt phòng trực tuyến hàng đầu. Chúng tôi đam mê du lịch. Mỗi ngày, chúng tôi truyền cảm hứng và kết nối với hàng triệu du khách.</p>
                    <p class="s-para">Vì vậy, khi bạn muốn đặt phòng ở khách sạn hoàn hảo, nhà nghỉ, khu nghỉ dưỡng, căn hộ, nhà khách, hoặc ngôi nhà cây, chúng tôi đã có mọi điều bạn cần.</p>
                    <a asp-controller="Home" asp-action="GioiThieu" class="primary-btn about-btn">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="/img/about/about-1.jpg" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img src="/img/about/about-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hp-room-section">
    <div class="container-fluid">
        <div class="hp-room-items">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/img/room/room-b1.jpg">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/img/room/room-b2.jpg">
                      
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/img/room/room-b3.jpg">
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/img/room/room-b4.jpg">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
